body {
    background-color: #e7ebf5;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    background-color: #e7ebf5;
    padding: 15px;
    border-radius: 10px;
  }
  
  .search-bar input,
  .search-bar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    min-width: 200px;
  }
  
  .circle-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #2c5d85;
    border-radius: 50%;
    color: #2c5d85;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
  }
  
  .search-icon {
    font-size: 20px;
    color: #2c5d85;
    cursor: pointer;
    border: 2px solid #2c5d85;
    border-radius: 50%;
    padding: 5px;
  }
  body {
    background-color: #e7ebf5;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    background-color: #e7ebf5;
    padding: 15px;
    border-radius: 10px;
  }
  
  .search-bar input,
  .search-bar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    min-width: 200px;
  }
  
  .circle-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #2c5d85;
    border-radius: 50%;
    color: #2c5d85;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
  }
  
  .search-icon {
    font-size: 20px;
    color: #2c5d85;
    cursor: pointer;
    border: 2px solid #2c5d85;
    border-radius: 50%;
    padding: 5px;
  }
  
  /* Tabela */
  .table-container {
    margin-top: 30px;
    background-color: #f5f7fa;
    border: 1px solid #cfd6e0;
    border-radius: 6px;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  thead {
    background-color: #e7ebf5;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f8f9fb;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  