body {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-box {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #1a1a1a;
    font-weight: 600;
}

.form-label {
    color: #333;
    font-weight: 500;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #323f57;
}

.btn-custom {
    width: 100%;
    padding: 10px;
    border: 2px solid #050505;
    background-color: #272262;
    border: 2px solid #272262;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #ffffff;
    border: 2px solid #050505;
}

a {
    color: #0d009c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
